*.pyc
*/__pycache__/
*.tar
*.pth
*.pt
.ipynb_checkpoints
data/
trained_encoders/
trained_models/
trained_clf_models/
cluster_identities/
learning_curves/
train_ps/
dataset_loaders/misc/
.vscode/
results/
visualization_checks/
analyze_results/*.tex
analyze_results/*.txt
analyze_results/res_all.py
res.txt